//
//  Media.xcconfig
//  YYProjectConfig
//
//  Created by HarrisonFu on 2023/2/17.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "./Pods/Target Support Files/Pods-YYProjectConfig/Pods-YYProjectConfig.media.xcconfig"
#include "BaseScheme.xcconfig"
API_BASE_URL = "Media.go.fuhuayou"
